main {
    margin: 40px;
    line-height: 1.6;
    font-family: 'Hitmarker', Hitmarker;
}
h1, h2, h3 {
    font-weight: 700;
}

p, li {
    font-size: 16px;
}

.content {
    display: flex;
    gap: 30px;
}

.article {
    flex: 3;
}

.infobox {
    flex: 1;
    border: 1px solid #aaa;
    padding: 10px;
    font-size: 14px;
}

.infobox img {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.infobox h4 {
    text-align: center;
    margin: 5px 0;
}

.infobox table {
    width: 100%;
    border-collapse: collapse;
}

.infobox th {
    text-align: left;
    font-weight: bold;
}

.infobox th,
.infobox td {
    border-top: 1px solid #ccc;
    padding: 4px;
}

.infobox-title {
    background: #eaecf0;
    text-align: center;
    font-weight: bold;
    padding: 6px;
    border-bottom: 1px solid #a2a9b1;
}

